# Created by .ignore support plugin (hsz.mobi)
.idea/
result/.vertx/
result/target/
result/webroot/
vote/webroot/
vote/target/
.vertx/
vote/.vertx/
vote/target/generated-sources/
worker/.vertx/
worker/target/generated-sources/
target/
worker/target/
